
$Black: #000000;
$Scorpion: #606060;
$RollingStone: #798285;
$Abbey: rgba(#000000, 0.65);
$SilverChalice: #acacac;
$White: #ffffff;
$DeepBlue: rgba(#00080c, 0.1);
$DoveGrey: #636363;
$BlackHaze: #f5f6f6;
$DustyGray: #999999;
